*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/playground/nb/BroilerPlate/nbproject/private/
/playground/lib/notTracked
/playground/nb/BroilerPlate/build/
/playground/nb/GoogleDrive/.nb-gradle/
/playground/nb/GoogleDrive/build/
/playground/nb/GoogleDriveNonGradle/nbproject/private/
/playground/nb/GoogleDriveNonGradle/build/
/playground/nb/GoogleDriveNonGradle/.credentials/drive-java-quickstart
